[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pgmpy = "==0.1.23"
pandas = "==2.1.1"
pyvis = "==0.3.2"
ipykernel = "*"
black = {version = "*", extras = ["jupyter"]}
numpy = "==1.24.4"
streamlit = "==1.27.2"
pyathena = "==3.0.4"
networks = "==0.3.7"
networkx = "==3.1"
distinctipy = "==1.2.3"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
